language: julia
os:
  - linux
  - windows
#  - osx

julia:
  - 1 # latest stable Julia
  # - nightly
matrix:
  allow_failures:
  - julia: nightly
notifications:
  email:
    on_success: never
    on_failure: always
